<div class="category-products">
    <div class="toolbar">
        <div class="sorter">

            <div class="sort-by">
                <label>Sort By</label>
                <select onchange="setLocation(this.value)" title="Sort By">
                    <option value="<?php echo $this->getUrlSortAsc() ?>" <?php if($this->isCurrentSortDesc()): ?>selected="selected"<?php endif; ?>>ASC</option>
                    <option value="<?php echo $this->getUrlSortDesc() ?>" <?php if(!$this->isCurrentSortDesc()): ?>selected="selected"<?php endif; ?>>DESC</option>
                </select>
            </div>
        </div>
    </div>
    <ul class="products-grid products-grid--max-4-col first last odd">
        <?php foreach ($this->getProducts() as $product): ?>
            <li class="item last">
                <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $product->getName() ?>" class="product-image">
                    <img id="product-collection-image-406" src="<?php echo $product->getImageUrl() ?>" alt="Linen Blazer">
                </a>
                <div class="product-info" style="padding-bottom: 88px; min-height: 195px;">
                    <h2 class="product-name"><a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $product->getName() ?>"><?php echo $product->getName() ?></a></h2>
                    <div class="price-box">
                        <span class="regular-price" id="product-price-406">
                            <span class="price"><?php echo $this->getProductPrice($product) ?></span>
                        </span>

                    </div>
                    <div class="actions">
                        <a title="View Details" class="button" href="<?php echo $product->getProductUrl() ?>">View Details</a>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>